[defaults]
roles_path = ../../roles
inventory  = ./inventory.aws_ec2.yml
remote_user = ubuntu
remote_tmp = $HOME/.ansible/tmp
local_tmp  = $HOME/.ansible/tmp
host_key_checking = False
deprecation_warnings = False
callback_whitelist = profile_tasks
timeout = 30
