server:
  ingress:
    enabled: true
    controller: aws
    annotations:
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/target-type: instance
      alb.ingress.kubernetes.io/group.name: "argocd-group"
      alb.ingress.kubernetes.io/healthcheck-path: /
      kubernetes.io/ingress.class: alb
    ingressClassName: "alb"   # This should be "alb" for AWS ALB

    # -- Argo CD server hostname
    hostname: "{{ hostname }}"   

configs:
  params:
    server.insecure: true