## Server
server:
  # Argo CD server ingress configuration
  ingress:
    # -- Enable an ingress resource for the Argo CD server
    enabled: true
    controller: generic    
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /
    ingressClassName: "nginx"
 
    # -- Argo CD server hostname
    ## NOTE: Hostname must be provided if Ingress is enabled
    hostname: "argocd.{{ hostname }}"
 
configs:
  params:
    server.insecure: true